#feedcontainer{

    border: 1px solid #eff3f4;
    width:40%;
    height:700px;
    margin: auto;
    
}
.tweetDiv{
    width:100%;
    height:150px;
    border-bottom: 0.5px solid #d8dbdc;
    display: flex;

}

@media only screen and (max-width: 768px) {
    #feedcontainer{
        width:90%;
        height:700px;
        margin: auto;

    }
  
    .tweetDiv2 > div:nth-child(2){
        display: flex;
    }
    .tweetBtn{
        height:40px;
    }
    #navId{
        width:90%;
        margin-right:0%;
    }
}

.tweetDiv > div:nth-child(1){

    width:15%;
    height:100%;
   

}
.tweetDiv > div:nth-child(2){

    width:85%;
    height:100%;
   
}

.tweetDiv2 > div:nth-child(1){ 
    
    border-bottom: 1px solid #eff3f4;
   
    width: 93%;
    


}
.tweetDiv2 > div:nth-child(2){ 

    width: 93%;
    padding-top: 10px;

    

}

.tweetInput{
    border: none;
    outline: none;
    background-color: none;
    width:100%;
    font-size: 25px;
    /* padding: 20px 40px 20px 5px ; */
    height: 60px;
    margin-top:18px;
    margin-right: 50px;
    overflow: unset;
    margin-bottom: 10px;
    
    
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }

  #navId{

    width:40%; 
    margin-right:30%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter : blur(10px);
    background-color: transparent;
    color: black;
  }


  @media only screen and (max-width: 356px) {
         #navId{
        width:90%;
         }

        .tweetDiv2 > div:nth-child(2){
            display: flex;
        }
        .tweetBtn{
            height:40px;
        }
        #navId{
            width:90%;
            margin-right:0%;
        }

}
